/* Centering */
@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BASIC SETTINGS */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0.4rem auto;
    max-width: 1200px; // arrete de s'agrandir à partir de 1200px
    font-family: $font-1;
    color: $black;
    background-color: $white;
}

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
}

a:visited {
    color: $black;
}

/* BASIC PAGES SETTINGS */


.home,
.knowledges,
.portfolio,
.contact {
    display: flex;

    // Responsive :
    @media screen and (max-width: 850px) {
        display: block !important;

    }
}

.homeContent,
.knowledgesContent,
.portfolioContent,
.contactContent {
    margin-left: .4rem;

    // Responsive :
    @media screen and (max-width: 850px) {
        margin-left: 0 !important;
    }
}